.headerClass {
    background-color: rgb(99, 64, 12);
    text-align:justify;
    height: min-content;
}
h2{
    position: absolute;
    top: -0.5px;
    margin-top: 30px;
    left: 48%;
    color: chartreuse;
}