.footerClass {
    background-color: rgb(2, 2, 31);
    height: min-content;
    display:flex ;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10;
}
.footerspan{
    color: brown;
    text-align: center;
    margin:2rem 0rem 1rem 35rem;
 
}

#logo{
    color: brown;
}